<!-- footer section -->
<div id="footer" class="row">
    <div class="footer-nav">
        hello
    </div>
</div>

<div class="row required-info center">
    Copyright © Fall 2020, Adrian Iorga, WEB322NAA
</div>
 