<!-- footer section -->
<div id="footer" class="row">
    <div class="row easychef">
        <div class="company center">
            <img class="img-responsive" src="../images/logo4.png" alt="footer logo">
            <p>Delicious meal kit food and fresh  ingredient delivery service in Canada!</p>

        </div>

        <div class="social-media">
            <h4>Social Media</h4>
            <img src="../images/icons/instagram.png" alt="instagram link">
            <img src="../images/icons/twitter.png" alt="twitter link">
            <img src="../images/icons/youtube.png" alt="youtube link">
            <img src="../images/icons/snapchat.png" alt="snapchat link">
            <img src="../images/icons/facebook.png" alt="facebook link">
        </div>

        <div class="links">
            <div class="nav">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/on-the-menu">On The Menu</a></li>
                </ul>
            </div>
            <div class="user">
                <h4>Members</h4>
                <ul>
                    {{#if user.loggedIn}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {{else}}
                    <li><a class="register" href="#">Register</a></li>
                    <li><a class="login" href="#">Login</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>

    <div class="row required-info center">
        Copyright © Fall 2020, Adrian Iorga, WEB322NAA
    </div>
</div>
 