<!-- header + navigation section -->
<div class="row">
    <div id="header">
        <div class="row">
            <img id="logo" class="logo" src="../images/logo4.png" alt="easychef logo">
            <img class="menu-button" src="../images/icons/list.png" alt="drop down menu button">
            <div class="menu hide-sm hide-md">
                <a href="/"><img class="icon" src="../images/icons/home.png" alt="home link icon"> HOME</a>
                <a href="/on-the-menu"><img class="icon" src="../images/icons/on-menu.png" alt="on-the-menu link icon"> ON THE MENU</a>

                {{#if user.loggedIn}}
                <a class="" href="/dashboard"><img class="icon" src="../images/icons/register.png" alt="dashboard link"> DASHBOARD</a>
                {{else}}
                <a class="login" href="#login"><img class="icon" src="../images/icons/login.png" alt="login link icon"> LOGIN</a>
                <a class="register" href="#register"><img class="icon" src="../images/icons/register.png" alt="signup link icon"> SIGN UP</a>
                {{/if}}
            </div>
        </div>
        {{!-- for mobile / tablet only --}}
        <div class="show-menu" style="display:none;">
            <a href="/"><img class="icon" src="../images/icons/home.png" alt="home link icon"> HOME</a>
            <a href="/on-the-menu"><img class="icon" src="../images/icons/on-menu.png" alt="on-the-menu link icon"> ON THE MENU</a>
            {{#if user.loggedIn}}
            <a class="" href="/dashboard"><img class="icon" src="../images/icons/register.png" alt="dashboard link"> DASHBOARD</a>
            {{else}}
            <a class="login" href="#login"><img class="icon" src="../images/icons/login.png" alt="login link icon"> LOGIN</a>
            <a class="register" href="#register"><img class="icon" src="../images/icons/register.png" alt="signup link icon"> REGISTER</a>
            {{/if}}
        </div>
    </div>
</div>
