<!-- content | top meals -->
<div id="top-meals" class="row center">
    <h2>- Top Meals -</h2>

    {{#each meal}}
        {{#if top}}                      
            {{>top-meal}}
        {{/if}}
    {{/each}}
</div>