<!-- hero section -->
<div class="row">
    <div id="hero-small" style="background-image:url('../images/bgs/pexels-katerina-holmes-5908186.jpg');">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="dashboard">DATA ENTRY</h1>
            <p>Clerk Account: {{user.fName}} {{user.lName}}</p>
        </div>
    </div>
</div>

<div id="dashboard" class="row center">

    <h2>- DASHBOARD -</h2>
    <button class="clerk-btn">Add New Meal</button>
    <button class="clerk-btn">Update Meals</button>
    <button class="clerk-btn">Add New Category</button>
    <button class="clerk-btn">Edit Categories</button>
    <button class="clerk-btn logout"><a href="/logout">Logout</a></button>
</div>