<!-- hero section -->
<div class="row">
    <div id="hero-small" style="background-image:url('../images/bgs/pexels-katerina-holmes-5908186.jpg');">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="dashboard">DATA ENTRY</h1>
            <p>Clerk Account: {{user.fName}} {{user.lName}}</p>
        </div>
    </div>
</div>

<div id="dashboard" class="row center">

    {{>clerk/new-meal}}
    
    {{>clerk/meal-info}}

    <button class="clerk-btn logout"><a href="/logout">Logout</a></button>
</div>