<!-- hero section -->
<div class="row">
    <div id="hero-small">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="dashboard">HELLO, {{user.fName}}</h1>
            <p>Update your account, add meal kits, and more.</p>
        </div>
    </div>
</div>

<div id="dashboard" class="row center">

    <h2>- DASHBOARD -</h2>
    <p>You're one step closer to cooking the best meals!</p>
    <p>We're working on providing more account services.</p>
    <p>Soon you'll be able to pick and choose kits to add to your account, track shipments, and see all the new recipes we have waiting for you.</p>
    <br/>
    <br/>

    <h3>- THIS WEEK -</h3>
    <p>You currently don't have any meal kits.</p>
    <br/>
    <br/>

    <h3>- ORDERS -</h3>
    <p>You currently don't have any meal kits.</p>

    <br/>
    <br/>
</div>