<!-- hero section -->
<div class="row">
    <div id="hero-small" class="">
        <div class="overlay"></div>
        <div class="content">
            <h1>WELCOME, CHEF</h1>
            <p>Update your account, add meal kits, and more</p>
        </div>
    </div>
</div>