<!-- hero section -->
<div class="row">
    <div id="hero-small">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="dashboard">HELLO, {{user.fName}}</h1>
            <p>Update your account, add meal kits, and more.</p>
        </div>
    </div>
</div>

<div id="dashboard" class="row center">

    {{#if checkout}}
    <div class="checkout-msg">
        Your order has been placed!
    </div>
    {{/if}}

    <h2>- DASHBOARD -</h2>
    <p>You're one step closer to cooking the best meals, <span style="color:red;">{{user.fName}} {{user.lName}}</span>!</p>
    <br/>
    <br/>

    <h3>- ORDERS -</h3>
    <a href="/cart"><button class="addcart">View Shopping Cart</button></a>

    <br/>
    <br/>

    <button class="clerk-btn logout"><a href="/logout">Logout</a></button>
</div>