<!-- hero section -->
<div class="row">
    <div id="hero" class="">
        <div class="overlay"></div>
        <div class="content">
            <h1>HOME<br/> COOKED<br/> MEALS</h1>
            
            <p>Pick from a wide range of delicious recipes we have available, so we can send you the freshest ingredients straight to your door!</p>
            
            <a class="cta-button" href="#top-meals"><img class="cta-icon" src="../images/icons/chef.png" alt="action button icon"> see chef recipes</a>
        </div>
    </div>
</div>

<!-- new how it works -->
<div id="process" class="row">
    <div class="padded hide-sm"></div>
    <div class="big hide-sm"><img src="../images/bgs/pexels-yente-van-eynde-2403391-min.jpg" alt="home chef portrayal"></div>
    <div class="step center">
        <div class="hide-md hide-lg">
            <h2 class="ourprocess">- OUR PROCESS -</h2>
        </div>
        <ul>
            <li>
                <div class="step-num center">
                    <img src="../images/icons/order-food.png" alt="our process step 1">
                    <span class="title">Pick Favourite<br/>Recipes</span>
                    <span class="number">01</span>
                </div>
            </li>
            <li>
                <div class="step-num center">
                    <img src="../images/icons/shopping.png" alt="our process step 2">
                    <span class="title">Fresh Ingredients<br/>Delivered</span>
                    <span class="number">02</span>
                </div>
            </li>
            <li>
                <div class="step-num center">
                    <img src="../images/icons/frying.png" alt="our process step 3">
                    <span class="title">Chef Inspired<br/>Cooking</span>
                    <span class="number">03</span>
                </div>
            </li>
            <li>
                <div class="step-num center">
                    <img src="../images/icons/rating.png" alt="our process step 4">
                    <span class="title">Enjoy Delicate<br/>Meals</span>
                    <span class="number">04</span>
                </div>
            </li>
        </ul>
    </div>
</div>

{{> top-meals }}