<!-- hero section -->
<div class="row">
    <div id="hero-small" style="background-image:url('../images/meals/{{meal.image}}');">
        <div class="overlay"></div>
        <div class="content">
            <h1>For {{meal.category}}</h1>
        </div>
    </div>
</div>

{{!-- content section --}}

<!-- content | top meals -->
<div class="row">

    <div class="" style="height:800px;">
        <h2>Meal Title</h2>

    </div>

</div>