.meal-info {
    border:0px;
    margin-bottom:30px;
    background-color:#e4e4e4;
    padding:20px;
    border:1px solid #c4c4c4;
    padding:10px;
}
.meal-info * {
    font-family: 'Roboto';
}
.meal-info::after { 
    display:table;
    clear:both;
    content: "";
}

.meal-info .data {
    padding:0 20px 0 0;
}
.meal-info .data .data-stats div {
    padding:15px 5px 15px 5px;
}

.meal-info input {
    font-size:1.25rem;
    padding:6px 3px 3px 3px;
    height:initial;
    background-color: #ffffff;
    margin:0;
}
.meal-info textarea {
    background-color: #ffffff;
}
.meal-info label {
    font-size:1.25rem;
    text-transform: uppercase;
    line-height: 1.25rem;
    text-align: center;
}
.meal-info select {
    background-color:#ffffff;
    font-size:1.25rem;
}
.meal-info input,textarea,select {
    margin-bottom:10px;
    width:100%;
    border:1px solid var(--primary-color);
}
.mi-icon {
    width:24px;
    position: relative;
    top:-2px;
    margin-right:4px;
}
.data-stats.mi-submit {
    padding:20px;
    border:2px solid #098127;
    background-color: #01440f;
    color:#ffffff;
}


.meal-list {
    padding:5px;
    min-height:64px;
    border:1px solid #c4c4c4;
}
.meal-list:hover {
    background-color:#eeeeee;
}

.ml_title {
    text-align: left;
    padding-left:10px;
    padding-top:10px;
    vertical-align: middle;
}
.ml_title a {
    font-size:2rem;
    position: relative;
    top:5px;
    text-decoration: none;
    color:var(--dark-text-color);
}
.ml-icon {
    position: relative;
    float:right;
    margin-right:20px;
    width:48px
}



/* fading in and out list elements, help from: https://jsfiddle.net/cferdinandi/qgpxvhhb/23/ */
.toggle-list {
	display: none;
	height: 0;
  	opacity: 0;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.toggle-list.is-visible {
	display: block;
	height: auto;
  	opacity: 1;
}