.meal-info {
    border:0px;
    margin-bottom:30px;
    background-color: white;
    padding:20px;
}
.meal-info::after { 
    display:table;
    clear:both;
    content: "";
}

.meal-info .data {
    padding:0 20px 0 0;
}
.meal-info .data .data-stats div {
    padding:15px;
}

.meal-info input {
    font-size:1.25rem;
    padding:6px 3px 3px 3px;
    height:initial;
    background-color: #ffffff;
    margin:0;
}

.meal-info textarea {
    background-color: #ffffff;
}

.meal-info label {
    font-size:1.25rem;
    text-transform: uppercase;
    line-height: 1.25rem;
}

.meal-info select {
    background-color:#ffffff;
    font-size:1.25rem;
}

.meal-info input,textarea,select {
    margin-bottom:10px;
    width:100%;
    border:1px solid var(--light-text-color);
}