<div class="row">
        <div class="col-2"></div>
        <div id="new_meal" class="col-8">
            <h2>ADD NEW MEAL</h2>
            <form class="meal-info" method="post" action="/dashboard/addMeal" enctype="multipart/form-data">
                <div class="col-8 data left">
                    <label for="title">Title:</label>
                    <input type="text" name="title" value="" placeholder="Delicious Meal Title">

                    <label for="description">Description:</label>
                    <textarea name="description" placeholder="Describe the meal kit and any of its specialties."></textarea>
    
                    <label for="included">Includes:</label>
                    <input type="text" name="included" value="" placeholder="comma, seperated, values">
                    
                    <div class="col-12 data-stats center">
                        <div class="col-3"><label for="time"><img class="mi-icon" src="../images/icons/card/time.png">Time:</label><input type="text" name="cookingTime" value="" placeholder="0"></div>
                        <div class="col-3"><label for="servings"><img class="mi-icon" src="../images/icons/card/servings.png">Servings:</label><input type="text" name="servings" value="" placeholder="0"></div>
                        <div class="col-3"><label for="price"><img class="mi-icon" src="../images/icons/card/label.png">Price:</label><input type="text" name="price" value="" placeholder="0"></div>
                        <div class="col-3"><label for="calories"><img class="mi-icon" src="../images/icons/card/calories.png">Calories:</label><input type="text" name="calories" value="" placeholder="0"></div>
                    </div>

                    <div class="col-12 data-stats center">
                        <div class="col-4">
                            <label for="category">Cateogry:</label>
                            <select name="category">
                                <option value="Breakfast" selected>Breakfast</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="type">Type:</label>
                            <select name="type">
                                <option value="Vegan" selected>Vegan</option>
                                <option value="Meat">Meat</option>
                                <option value="Fish">Fish</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="top">Top Meal:</label>
                            <select name="top">
                                <option value="0" selected>False</option>
                                <option value="1">True</option>
                            </select>
                        </div>
                    </div>                    
                </div>
                <div class="col-4 data-stats">
                    <img class="img-responsive" src="../images/meals/placeholder.png" style="border:2px solid #646464;background-color: #bdbdbd;">
                    <input type="file" name="image" value="">

                    <input class="mi-submit" type="submit" value="ADD MEAL KIT" style="margin-top:10px;padding:10px 0px 10px 0px;font-size:1.5rem;border:2px solid #023516;background-color: #0a7c43;color:#ffffff;">
                </div>
            </form>
        </div>

</div>